@model HandyHelper.Models.Job


<h1>
    @Model.PostingTitle <span style="margin-left:300px">
        <a asp-controller="Home" asp-action="Messenger"><input type="button" value="Message Me" class="btn btn-danger" /></a>
    </span>
</h1>
<img src="~/images/@Model.ImageName" style="margin-top:5px;" />


<h4>Description: <span style="float:right; margin-right:180px;">Price: &#36;@Model.Price</span></h4>
<p>@Model.Discription</p>



<form asp-controller="Home" asp-action="JobPage" method="post">

    <fieldset class="border">
        <legend class="border">Comment</legend>
        <div class="form-group">
            <textarea class="form-control" name="comment"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Comment" class="btn btn-success form-control" />

        </div>

    </fieldset>
</form>

@foreach(var comment in Model.Comments)
{
    <h1>@comment.Text</h1>

}
