body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

    a:hover {
        color: #fbb72c;
        text-decoration: none;
    }

.text-overflow {
    white-space: nowrap;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    @media only screen and (max-width: 960px) {
        .text {
            font-size: 5.66666667vw;
        }
    }

    @media only screen and (max-width: 564.70588235px) {
        .text {
            font-size: 2rem;
        }
    }
    @media only screen and (max-width: 800px){
        .text-overflow{
            width:100px;
        }
    }
}